<!DOCTYPE html>
<html lang="en">

<head>
    <title>Basic Vue</title>
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <nav>
        <ul>
            <li><h1>My Books</h1></li>
        </ul>
    </nav>

    <div id="app"> 

        <!-- <a v-bind:href="http://">Click me!</a> -->
        <button @click="toggleShowBookTitle()">
            <span v-if="showBooks">Hide My Books</span>
            <span v-else>Show My Books</span>
        </button>

        <div id="bookListHolder" v-if="showBooks">
            <div id="bookList" @click="toggleFav(book)" v-for="book in books" :class="{ fav: book.isFav }">
                <img class="imgHolder" :src="book.img" :alt="book.title">
                <span class="title"> {{ book.title }} </span> <br>
                <span class="author"> {{ book.author }}</span>
            </div>
        </div>

        <button @click="toggleFavBooks()">
            <span v-if="showFavBooks" >Hide My Favorite books</span>
            <span v-else>Show My Favorite books</span>
        </button>
        <div id="bookListHolder" v-if="showFavBooks">
            <div id="bookList" @click="toggleFav(book)" v-for="book in filteredBooks" :class="{ fav: book.isFav }">
                <img class="imgHolder" :src="book.img" :alt="book.title">
                <span class="title"> {{ book.title }} </span> <br>
                <span class="author"> {{ book.author }}</span>
            </div>
        </div>
        
        <!-- <div v-show="showBooks"> Currently Showing Books</div> -->
        <!-- <button v-on:click="age++">Increase age</button>
        <button v-on:click="age--">Decrease age</button>
        <button v-on:click="changeTitle('Title Changed')">Change Book Title</button> -->

 
        <button @click="toggleMouseEvents()">
            <span v-if="showMouseEvents">Hide MouseEvents</span>
            <span v-else>Show MouseEvents</span>
        </button>
        <div v-if="showMouseEvents">
            <div class="box " @mouseover="handleEvent($event, 5)">Mouseover (Enter)</div>
            <div class="box" @mouseleave="handleEvent">MouseLeave</div>
            <div class="box" @dblclick="handleEvent">Double click</div>
            <div class="box" @mousemove="handleMousemove">Position: {{x}} {{y}} </div>
        </div>

    </div>

    <script src="/app.js"></script>

    <script src="/assets/1.jpg"></script>
</body>

</html>